h{
    font-size: 500%;
}

.container {
    position: relative;
  }
  
  .container::before {
    content: "";
    position: absolute;
    top: 60%; /* Posiciona o background a partir da metade do elemento */
    left: 0;
    width: 100%;
    height: 50%; /* Define a altura do background como metade da altura do elemento */
    background-color: #fffb00; /* Cor do background */
    z-index: -1;
  }